/* @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}   */

 /* resetting marhin and padding  */
* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  /* border: 1px solid red;  */ 
} 

#main-body {
    /* background-color: rgb(180, 211, 222);    */
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/4/2019/10/GettyImages-460712793-769fd3a.jpg?quality=90&crop=4px,37px,931px,401px&resize=940,400');
    background-size: 1400px;
}   

.header { 
    background-color: rgb(3, 3, 68); 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
    height: 99px; 
    width: 100%; 
    /* border: 1px solid red;  */  
    position: fixed; 
    top: 0px; 
    left: 0px; 
    z-index: 1;  
} 

#nav {
    /* border: 1px solid red;    */
    background-color: rgb(184, 216, 238);  
    /* height: 35px;  */
    /* position: relative;   */
} 

.header-plan{
    display: inline-block; 
    width: 120px;  
    height: 12px; 
    /* border: 1px solid red;   */
    position: relative;      
    margin-right: 10px;  
    color: rgb(3, 3, 68); 
    font-weight: bold; 
    font-size: 12px;  
    text-decoration: none; 
    /* border-left: 1px solid rgb(3, 3, 68); 
    border-right: 1px solid rgb(3, 3, 68);  */
} 

.header-plan:hover{
    color: rgb(221, 24, 24);    
} 

#title {
    font-size: 35px; 
    font-family: Brush Script MT; 
    /* border: 1px solid red;     */
    margin: 10px; 
    color: rgb(255, 255, 255) 
} 

#main-content {
    font-size: 25px; 
    color: rgb(255, 255, 255); 
    position: relative; 
    top: 280%; 
    left: 5%;
    width: 35%;
    /* border: 1px solid red;   */
    font-family: 'Black Han Sans';
    text-align: center;
} 

/* 1. mercury  */  

#mercury-content{
    position: relative;  
    top: 99px;
    height: 1500px;
    width: 100%;
} 

#mercury-descrip{
    position: relative; 
    height: 35%; 
    /* border: 1px solid blue;   */
    background-color: rgb(255, 255, 255) 
} 

#mercury-video{
    position: relative;
    height: 30%; 
    background-color: rgb(227, 239, 240)
} 

#mercury-facts{
    position:relative; 
    height: 35%; 
    border-bottom: 1px solid blue;
} 

.mercury-img{
    position: relative;  
    top: 15%; 
    left: 2%; 
    height: 70%; 
    width: 30%
} 

.facts{
    position: relative; 
    height: 90%; 
    width: 62%; 
    top: -67%; 
    left: 34%; 
    border: 2px solid rgb(184, 216, 238); 
    border-radius: 10px; 
}  

.facts h2{
    position: relative; 
    height: 65px;   
    text-align: center;  
    font-family: 'Black Han Sans'; 
    font-size: 50px; 
    color: rgb(255, 255, 255); 
    background-color: rgb(184, 216, 238); 
}  

.facts p, .facts a{
    position: relative; 
    text-align: left; 
    font-size: 20px; 
    line-height: 1.5; 
    width: 100%;   
    padding: 2px;   
    font-family: 'Lato'; 
    color: rgb(184, 216, 238); 
    text-decoration: none;      
}    

.facts a:hover{
    color: rgb(23, 146, 228)
}  

.plan-vid{
    position:relative; 
    left: 40%; 
    top: 20%; 
}
